<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  href="/static/css/output.css" rel="stylesheet"/>
        <title>Study Bench</title>
    </head>
    <body class="bg-[#3e2a4f]">
        <div class="h-[100vh] overflow-y-auto flex flex-col justify-center items-center">
            <img src="/static/images/logo.png" />
            <h1 class="mt-6 font-bold text-white text-[25px]">How Can I Help You?</h1>
            <div class="mt-6 w-[80%] grid lg:grid-cols-3 grid-cols-1 gap-8">
                <a href="/study_plan_creator_frontend" class="block border-white border px-5 py-3 text-white rounded-xl">
                    <h4 class="font-bold">Study Plan Creator</h4>
                    <p class="text-[14px] mt-1">Create study plan with timeline and relevant resources</p>
                </a>
                <a href="/explain_concept_frontend" class="block border-white border px-5 py-3 text-white rounded-xl">
                    <h4 class="font-bold">Explain concept</h4>
                    <p class="text-[14px] mt-1">Provide explanation, examples and gives analogies</p>
                </a>
                <a href="/build_project_frontend" class="block border-white border px-5 py-3 text-white rounded-xl">
                    <h4 class="font-bold">Build project</h4>
                    <p class="text-[14px] mt-1">Provide Starter Code and outline project structure</p>
                </a>
            </div>
        </div>
    </body>
</html>
